doctype html
html
  head
    title My Page
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style.
      .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
      }
      
      .page-link,
      .prev-button,
      .next-button,
      .profile-link {
        margin: 0 5px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-decoration: none;
        color: #333;
        cursor: pointer;
        background-color: transparent;
      }
      
      .page-link.current-page {
        font-weight: bold;
      }
      
      a.page-link.disabled,
      .prev-button.disabled,
      .next-button.disabled,
      .profile-link:hover {
        pointer-events: none;
        color: #999;
        cursor: default;
      }
      
      .list-item {
        margin-bottom: 10px;
      }
  body
    h1 My Page
    h2 Current Page: #{paginatedData.currentPage}
    div.list-container
      each item in paginatedData.data
        div.list-item
          a.profile-link(href=`/profile/${item.id}`)= item.name

    .pagination
      a.prev-button(class=`prev-button ${paginatedData.currentPage === 1 ? 'disabled' : ''}`, href=`${paginatedData.currentPage === 1 ? '#' : `/?page=${paginatedData.currentPage - 1}`}`) Previous
      div.page-list
        each page in Array.from({ length: paginatedData.totalPages }, (_, i) => i + 1)
          if page === paginatedData.currentPage
            span.page-link.current-page= page
          else
            a.page-link(href=`/?page=${page}`)= page
      a.next-button(class=`next-button ${paginatedData.currentPage === paginatedData.totalPages ? 'disabled' : ''}`, href=`${paginatedData.currentPage === paginatedData.totalPages ? '#' : `/?page=${paginatedData.currentPage + 1}`}`) Next