doctype html
html
  head
    title My Page
    style.
      .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
      }
      
      .page-link,
      .prev-button,
      .next-button,
      .profile-link {
        margin: 0 5px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-decoration: none;
        color: #333;
        cursor: pointer;
        background-color: transparent;
      }
      
      .page-link.current-page {
        font-weight: bold;
      }
      
      a.page-link:hover,
      .prev-button:hover,
      .next-button:hover,
      .profile-link:hover {
        background-color: #eee;
      }
      
      .list-item {
        margin-bottom: 10px;
      }
  body
    h1 My Page
    h2 Current Page: #{paginatedData.currentPage}
    div.list-container
      each item in paginatedData.data
        div.list-item
          a.profile-link(href=`/profile/${item.id}`)= item.name

    .pagination
      button.prev-button(onclick=`window.location.href='/?page=${paginatedData.currentPage - 1}'`) Previous
      div.page-list
        each page in Array.from({ length: paginatedData.totalPages }, (_, i) => i + 1)
          if page === paginatedData.currentPage
            span.page-link.current-page= page
          else
            button.page-link(onclick=`window.location.href='/?page=${page}'`)= page
      button.next-button(onclick=`window.location.href='/?page=${paginatedData.currentPage + 1}'`) Next